In [1]:
import mysql.connector
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
 
connection = None

connection = mysql.connector.connect(
    host='localhost', user='root',passwd='admin', database='casasolar_mayo')

#SELECT
def select_all_table(table_name, limit, connection, random):
    if random==1:
        rand='ORDER BY RAND()'
    else:
        rand=''
    q = f"""
    SELECT * FROM {table_name} {rand} LIMIT {limit} ;
    """
    df = pd.read_sql_query(q, connection)
    print('Consulta SELECT exitosa')        
    return df

In [2]:
select_all_table('hito', 100, connection, random=0)

Consulta SELECT exitosa

,id,nombre,descripcion,posicion,primero,ultimo,dias
0,1,Postulación,Se realiza directamente en nuestro sitio web (...,1,1,0,NaN
1,2,Pago Reserva,Luego de realizada tu inscripción y si tu comu...,2,0,0,NaN
2,3,Visita Técnica,Se coordinará contigo la realización de visita...,3,0,0,NaN
3,4,Documentación Detallada,Luego de informada la factibilidad técnica de ...,4,0,0,NaN
4,5,Pago Monto Final,Como paso final debes pagar el monto final del...,5,0,0,NaN
5,6,Publicación Licitación,Una vez que tengamos confirmados a los postula...,6,0,0,NaN
6,7,Adjudicación Licitación,Fase final del concurso público y en el cual s...,7,0,0,NaN
7,8,Importación Materiales,"Una vez adjudicada la empresa, ésta debe reali...",8,0,0,NaN
8,9,Llegada de Materiales,None,9,0,0,NaN
9,10,Inicio de Obras,Los trabajos de instalación se componen de var...,10,0,0,NaN
10,11,Término de Instalaciones,Al finalizar cada instalación la empresa insta...,11,0,0,NaN
11,12,Ingreso TE4,Proceso que debe ser realizado por un profesio...,12,0,0,7.0
12,13,Protocolo de Conexión (F6),Una vez aceptado el TE4 sin observaciones por ...,15,0,1,21.0
13,14,Aprobación TE4,None,13,0,0,21.0
14,15,Notificación conexión (F5),None,14,0,0,5.0

In [3]:
select_all_table('postulacion', 3, connection, random=1)

Consulta SELECT exitosa

,id,nombre,email,telefono,propietario,enviado,validado,created_at,updated_at,user_id,autoriza_banco,etapa_aprobada,renta,preaprobado,elige,kwp,cofinanciamiento,sin_cofinanciamiento,correo_sin_cofinanciamiento,fecha_correo_sin_cofinanciamiento,monto_avaluo,tipo_documento_avaluo,comuna_avaluo,direccion_avaluo,destino_bien_raiz_avaluo,porcentaje_cofinanciamiento,consumo_mensual,desistir,estado_pago,estado_correo,resultado_banco_estado,estado_pago_reserva,factible,tramo,condicion,ahorro_tramo_1,ahorro_tramo_2,reapertura,credito_verde,edad,fecha_nacimiento,genero,etnia,migrante,descubrio_programa,habitantes,actualizado_por,candidato_devolucion,instalado,conectado,saldo,id_periodo_comuna,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,id_empresa_adjudicada,pago_fuera_plazo,documento_fuera_plazo,factible_documento,cc,ca,prioridad,te4,f5,grupo,zona,casa_piloto,fecha_ingreso_te4,folio_ingreso_te4
0,97011,Lidia del transito palacios silva,Lidia.palacios.silva.68@gmail.com,974683619,1,0,0,2021-06-24 04:00:24,2021-10-20 21:12:25,115152,0,1,NaN,NaN,NaN,None,None,1,0,None,NaN,None,None,None,None,NaN,None,1,None,None,None,None,None,None,None,None,None,1,None,None,None,None,None,None,None,None,None,NaN,None,None,NaN,36,None,None,None,None,None,NaN,NaN,None,None,None,None,0,0,None,None,0,None,None
1,113409,Adelaida roa Quiroga,adelaidaquiroga68@gmail.com,988627168,0,0,0,2021-07-27 14:13:41,2021-10-20 21:12:25,134105,0,1,NaN,NaN,NaN,None,None,1,0,None,NaN,None,None,None,None,NaN,None,1,None,None,None,None,None,None,None,None,None,1,None,None,None,None,None,None,None,None,None,NaN,None,None,NaN,211,Adelaida,roa,Quiroga,None,None,NaN,NaN,None,None,None,None,0,0,None,None,0,None,None
2,164988,Carlos Daniel Navarro Cabello,c.navarrocabello@gmail.com,954396294,1,0,0,2021-12-01 02:06:01,2023-01-23 17:05:43,184652,1,3,531830.0,0.0,0.0,None,None,0,0,None,23880073.0,pdf,CURICO\n,PASAJE LOS FAISANES 74 P. LOS GUINDOS\n,HABITACIONAL,50.0,None,1,None,deliverable,None,aprobado,None,None,None,,,1,None,None,None,None,None,None,None,None,None,1.0,None,None,850000.0,514,Carlos,Daniel,Navarro,Cabello,None,0.0,0.0,None,None,None,None,0,0,None,None,0,None,None

In [4]:
q = f"""
SELECT * FROM postulacion WHERE conectado IS NOT NULL LIMIT 3;
"""
pd.read_sql_query(q, connection)

,id,nombre,email,telefono,propietario,enviado,validado,created_at,updated_at,user_id,autoriza_banco,etapa_aprobada,renta,preaprobado,elige,kwp,cofinanciamiento,sin_cofinanciamiento,correo_sin_cofinanciamiento,fecha_correo_sin_cofinanciamiento,monto_avaluo,tipo_documento_avaluo,comuna_avaluo,direccion_avaluo,destino_bien_raiz_avaluo,porcentaje_cofinanciamiento,consumo_mensual,desistir,estado_pago,estado_correo,resultado_banco_estado,estado_pago_reserva,factible,tramo,condicion,ahorro_tramo_1,ahorro_tramo_2,reapertura,credito_verde,edad,fecha_nacimiento,genero,etnia,migrante,descubrio_programa,habitantes,actualizado_por,candidato_devolucion,instalado,conectado,saldo,id_periodo_comuna,primer_nombre,segundo_nombre,primer_apellido,segundo_apellido,id_empresa_adjudicada,pago_fuera_plazo,documento_fuera_plazo,factible_documento,cc,ca,prioridad,te4,f5,grupo,zona,casa_piloto,fecha_ingreso_te4,folio_ingreso_te4
0,44,Myriam del Carmen montero,Myr.move@hotmail.com,752220290,1,0,0,2020-10-06 00:02:51,2022-10-12 12:34:24,53,0,5,0.0,0,1,2,None,0.0,0,None,31567336,pdf,CURICO\n,PJE.1 27 ANIBAL ARAY\n,HABITACIONAL,45,None,0,aprobado,deliverable,Sin Resultado,aprobado,1,2,None,143862,287724,1,1.0,None,None,None,None,None,None,None,None,None,1,1,0.0,168,Myriam,del,Carmen,montero,1,0.0,0.0,None,1,1,None,1,1,None,4-5z,0,None,None
1,51,Leonardo Alberto Lomuscio Droguett,leonardo.lomuscio@gmail.com,56983512290,1,1,0,2020-10-06 02:59:21,2023-03-03 13:48:28,64,1,5,2200000.0,0,1,2,None,NaN,0,None,46231482,pdf,RANCAGUA\n,VALPARAISO 361 B R CACHAPOAL\n,HABITACIONAL\n,40,None,0,aprobado,deliverable,Sin Resultado,aprobado,1,2,None,142563,285126,0,1.0,None,None,None,None,None,None,None,None,None,1,1,0.0,148,Leonardo,Alberto,Lomuscio,Droguett,4,NaN,NaN,None,1,1,None,1,1,None,1-3z,0,None,None
2,53,José Luis Mayorga Silva,jose_0909@live.cl,966972207,1,1,0,2020-10-06 04:05:28,2023-06-09 16:13:59,67,0,5,NaN,0,0,1,None,NaN,0,None,13882578,pdf,PUERTO MONTT\n,PJ FRANCISCO DE GOYA 2038 BRISAS DE CHINQUIHUE\n,HABITACIONAL,50,None,0,aprobado,deliverable,None,aprobado,1,1,None,109504,219008,0,NaN,None,None,None,None,None,None,None,None,None,1,0,0.0,310,José,Luis,Mayorga,Silva,10,0.0,0.0,None,1,1,,1,0,None,2-5z,1,None,None

In [31]:
q = f"""
SELECT hito_postulacion.id, hito_postulacion.id_postulacion, 
postulacion.user_id, hito_postulacion.estado, postulacion.nombre, 
postulacion.kwp, postulacion.id_periodo_comuna 
    FROM hito_postulacion 
        LEFT JOIN postulacion ON hito_postulacion.id_postulacion=postulacion.id WHERE id_hito=15;
"""
pd.read_sql_query(q, connection)

,id,id_hito,id_postulacion,estado,fecha_finalizacion,fecha_estimada,fecha_min,fecha_max,creado,actualizado,creador,actualizador
0,268747,15,122088,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:23:05,2023-01-30 03:23:02,None,137651
1,283981,15,151271,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:24:03,2023-01-30 03:23:17,None,137651
2,285251,15,153354,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:24:07,2023-01-30 03:23:18,None,137651
3,277111,15,137958,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:23:35,2023-01-30 03:23:10,None,137651
4,266541,15,118517,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:22:59,2023-01-30 03:23:00,None,137651
5,280081,15,144055,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:23:47,2023-01-30 03:23:13,None,137651
6,270951,15,126103,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:23:12,2023-01-30 03:23:04,None,137651
7,282867,15,149278,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:23:57,2023-01-30 03:23:16,None,137651
8,288703,15,159790,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:24:21,2023-01-30 03:23:22,None,137651
9,272455,15,129001,registrado,None,2022-05-14,2023-09-29,2023-10-06,2022-08-26 16:23:17,2023-01-30 03:23:06,None,137651

In [38]:
select_all_table('user', 5, connection, random=1)

Consulta SELECT exitosa

,id,username,email,password_hash,auth_key,confirmed_at,unconfirmed_email,blocked_at,registration_ip,created_at,updated_at,flags,last_login_at
0,115338,16.698.782-2,Jecko_17@hotmail.cl,$2y$12$r6JNlI2cLnyBLm5ixHhXSO6w1RL/WdFBa3cFFx9...,mplZErDl6ceoyNwd8898YvsN6vfk35ED,NaN,None,None,181.73.107.1,1624508886,1624508886,0,NaN
1,140920,13.499.410-K,annydonoso2269@yahoo.es,$2y$12$JR/Ru0gbwxVtj1miLLaQaOX0z92//fhHo.Sxt0s...,d7yLwmMLlQBRGm32w8IleDrUnAVyjmGG,NaN,None,None,201.219.233.216,1636514492,1636514492,0,1.676576e+09
2,44107,7.995.834-4,Bbohle@gmail.com,$2y$12$B6EeGYPm18X5h2J4GTnsfeIeDTwNSGmH8HhrJFj...,hQZopB3FQBGtmoMKYS6-DDkSLwbmhrCH,NaN,None,None,181.42.12.101,1602591930,1602591930,0,NaN
3,18159,10.163.549-k,maryan1704@gmail.com,$2y$12$oKWqIkGWoHK18gmm3JnHMec6cEqmFlAhY8qJzX....,ejKbPvQHNaoqm0b-CxzF7voKtvqlw5XM,1.602119e+09,None,None,190.101.228.61,1602119363,1602119363,0,NaN
4,36322,10.088.527-1,Tere.guy@icloud.com,$2y$12$RvS.deEY2cWtQVMqwY1qqe7xnPjjixUhUixDRdA...,Cs92mpy_g3krTODAeUdjHo3MOb9z-zuV,1.602282e+09,None,None,181.43.43.168,1602281745,1602281745,0,NaN

In [41]:
select_all_table('hito_postulacion', 10, connection, random=1)

Consulta SELECT exitosa

,id,id_hito,id_postulacion,estado,fecha_finalizacion,fecha_estimada,fecha_min,fecha_max,creado,actualizado,creador,actualizador
0,51874,4,130534,registrado,NaT,None,None,None,2022-07-01 15:49:31,2022-07-01 15:49:31,None,NaN
1,186651,10,169666,registrado,NaT,None,2023-03-11,2023-04-30,2022-07-01 15:54:06,2023-01-30 03:20:46,None,137651.0
2,71815,3,135940,concluido,2022-03-24 16:50:00,None,None,None,2022-07-01 15:50:14,2022-07-01 15:50:14,None,NaN
3,139122,9,155621,registrado,NaT,None,2023-03-01,2023-03-11,2022-07-01 15:52:44,2023-01-30 03:20:04,None,137651.0
4,229213,10,43962,concluido,2021-10-15 00:00:00,None,2023-03-11,2023-04-30,2022-07-07 16:22:31,2023-01-30 03:20:52,None,137651.0
5,229459,9,44422,concluido,NaT,None,2023-03-01,2023-03-11,2022-07-07 16:22:32,2023-01-30 03:20:16,None,137651.0
6,5998,5,117635,concluido,2022-03-06 19:15:00,None,None,None,2022-07-01 15:47:59,2022-07-01 15:47:59,None,NaN
7,196024,10,5874,concluido,2021-10-29 00:00:00,None,2023-03-11,2023-04-30,2022-07-07 16:21:31,2023-01-30 03:20:47,None,137651.0
8,238059,3,66946,concluido,2021-03-08 00:00:00,None,None,None,2022-07-07 16:22:48,2022-07-07 16:22:48,None,NaN
9,25051,13,122316,registrado,NaT,None,2023-10-06,2023-10-27,2022-07-01 15:48:36,2023-01-30 03:23:33,None,137651.0